@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: "Nunito", -apple-system, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-background: #1f1f1f;
}

.space-background {
  background-image: url("./assets/space-bg.jpg");
  background-position: center;
}

.blur-background {
  background-image: url("./assets/nebula-1.jpeg");
  background-position: bottom;
}

.App {
  text-align: center;
}

header {
  height: 80vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0),
    #e1af83,
    #e1af83,
    #b27743
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.about {
  padding: 20px 12px 80px;
  color: #fff;
}

.about-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0;
}

.about-card {
  max-width: 600px;
  background-color: #515856;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: #fff;
  box-shadow: 8px 16px 24px 4px #1f1f1f;
  overflow: hidden;
}

.about-card-header {
  height: 16px;
  background-color: #424846;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-card-header-label-container {
  display: flow-root;
  width: calc(100% - 108px);
}

.about-card-header-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
}

.about-card-header-text {
  height: 22px;
  padding-left: 4px;
  padding-top: 3px;
}

.dot-container {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.close-1 {
  width: 70%;
  height: 2px;
  background-color: #00000090;
  transform: rotate(45deg);
  position: absolute;
}

.close-2 {
  width: 70%;
  height: 2px;
  background-color: #00000090;
  transform: rotate(-45deg);
  position: absolute;
}

.minimize-1 {
  width: 60%;
  height: 2px;
  background-color: #00000090;
  position: absolute;
}

.maximize-1 {
  height: 50%;
  width: 50%;
  background-color: #00000090;
  position: absolute;
}

.maximize-2 {
  width: 100%;
  height: 2px;
  background-color: #78b159;
  position: absolute;
  transform: rotate(45deg);
}

.dot-container:hover .dot-icon {
  visibility: visible;
}

.dot-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.dot__red {
  background-color: #ed4c5c;
}

.dot__yellow {
  background-color: #fdcb58;
}

.dot__green {
  background-color: #78b159;
}

.about-card-tabs {
  display: flex;
}

.tab {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  flex: 1;
  padding: 8px 0px;
  cursor: pointer;
  background-color: #6c7371;
}

.tab:hover {
  background-color: #595f5d;
}

.active-tab {
  background-color: #424846;
  border-top: 1px solid #424846;
}

.active-tab:hover {
  background-color: #424846 !important;
  cursor: default !important;
  user-select: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.absolute-tab {
  top: 8px;
  left: 24px;
  right: 24px;
  position: absolute;
}

.about-image {
  position: absolute;
  height: 250px;
  background-color: #515856;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 8px 16px 24px 4px #1f1f1f;
  opacity: 100%;
  transition: 200ms all ease-in-out;
}

.image-container {
  position: relative;
  width: 283px;
  height: 283px;
}

.foreground-image {
  z-index: 100;
}

.background-image {
  padding: 8px;
  z-index: 50;
  opacity: 70%;
}

.jazzy-image {
  top: 36px;
  left: 36px;
}

.about-image img {
  height: 100%;
  border-radius: 8px;
}

.about-card-content {
  padding: 4px 24px 24px;
  text-align: left;
  position: relative;
}

section.skills {
  background: linear-gradient(0deg, #272b2a, #272b2a, rgba(0, 0, 0, 0));
  color: white;
  padding: 20px 20px 80px;
  overflow: hidden;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.skill-card {
  height: 120px;
  width: 120px;
  background-color: #515856;
  border-radius: 12px;
  box-shadow: 8px 16px 24px 4px #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skill-card i {
  font-size: 64px;
}

section.projects {
  background: linear-gradient(
    180deg,
    #272b2a,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  min-height: 500px;
  padding: 20px 20px 80px;
  overflow: hidden;
  color: white;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  max-width: 1300px;
  margin: auto;
}

.project-card {
  height: 360px;
  width: 320px;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(315deg, #202020, #515856);
  box-shadow: 8px 16px 24px 4px #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* transition: 1300ms box-shadow ease-in-out; */
}

.project-card:hover {
  box-shadow: 6px 12px 20px 1px #1f1f1fad;
  /* border-radius: 2px; */
}

section.experience {
  height: 600px;
  padding: 40px 40px 80px;
  background: linear-gradient(0deg, #af9b9d, #af9b9d, rgba(0, 0, 0, 0));
}

footer {
  background-color: var(--dark-background);
  color: #ffffff;
  padding: 1.5rem;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  opacity: 0.7;
}
